.fullContainer {
    background-color: #6C1D45;
    background-image: url('../../images/fondoqatar.jpg');
    min-height: 82vh;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: lightyellow;
}
  
html {
    min-height: 100%;
    position: relative;
}
  
.perfil{
    margin-bottom: 50px;
    padding-top: 30px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
  
.row {
    padding: 2vh;
    background-color: transparent;
    backdrop-filter: contrast(70%);
    padding-bottom: 2.1vh;
    /* border-bottom: 1px #f9bf00 solid; */
}

.row1 {
    padding: 0vh;
    background-color: transparent;
    backdrop-filter: contrast(70%);
    display: grid;
    place-content: center;
    /* gap: 20px; */
}
  
.rowTitle {
    text-align: center;
    font-size: 5vh;
    color: rgb(53, 49, 43);
    border: none;
}
  
.col11 {
    padding-top: 3vh;
    margin-left: 3.5vw;
    border-radius: 0.5vh;
}
  
.col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 400;
    color: #BEBEBE;
}
  
.col3 {
    text-align: center;
    font-size: 5vh;
    margin: auto;
    color: rgb(53, 49, 43);
}
  
.text {
    font-weight: 600;
    font-size: large;
    color:rgb(53, 49, 43);
}

.foto {
    height: 85px;
    width: 85px;
    border-radius: 100%;
}

.first{
    /* margin-left: 0vw; */
    margin: 0px auto;
    padding-bottom: 15px;
}

.allResults{
    background-color: transparent;
    backdrop-filter: contrast(70%);
    width: 40%;
    margin: auto;
}

.title{
    text-align: center;
    font-size: 5vh;
    color: rgb(53, 49, 43);
    border: none;
    font-weight: 400;
    padding-top: 10px;
    /* margin-bottom: 0; */
}

.resultados{
    margin-top: 100px;
    background-color: transparent;
    backdrop-filter: contrast(70%);
    width: 100%;
    margin: auto;
    padding-bottom: 1vh;
}

.notResult{
    color: #bebebe;
    font-size: 1.2rem;
    text-align:justify;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.fase{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
    color: whitesmoke;
    text-decoration: underline;
}

.fantasma{
    height: 3vh
}

.pos{
    color: #bebebe;
    font-size: 1.2rem;
    flex-direction: row;
    text-align: center;
    margin-top: 3px;
    /* border: 1px solid red; */
}

.resu{
    color: #d280a9;
    font-weight: 500;
    padding-right: 7px;
}


@media screen and (max-width: 1000px) {
    .allResults{
        width: 70%;
    }
}

@media screen and (max-width: 991px) {
    .col11 {
        padding-top: 3vh;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        border-radius: 0.5vh;
    }
}

@media screen and (max-width: 600px) {
    .userImage {
      width: 30px;
    }
    .allResults{
        width: 90%;
    }
    .perfil{
        padding-top: 10px;
    }
    .pos{
        font-size: 0.9rem;
    }
}
  