.all{
    background-color: #6C1D45;
    background-color: black;
    min-height: 90vh;
    display: grid;
    place-content: center;
}

.load{
    margin-left: auto;
    margin-right: auto;
}

.gif{
    width: 25%;
    height: 25%;
    min-width: 250px;
    min-height: 250px;
}