.all {
    background-image: url('../../images/darkmap3.jpg');
    background-size: cover;
    height: 100vh;
    width:fit-content;
}

.container{
    /* border: red solid 2px; */
    max-width: 1520px;
    position: relative;
    top: 60px;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    opacity: 0.95;
}

.horizontal{
    display:flex;
    flex-direction: row;
}

.container .cards{
    /* border: white solid 5px; */
    margin-left: 25px;
    margin-top: 25px;
    right: 20px;
    height: min-content;
    display: grid;
    grid-gap: 28px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

#noCountries{
    width: 450px;
}

#noCountries p{
    margin-top: 15px;
    margin-left: 35px;
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    font-weight: 300;
    color: #c0c0c0;
}

@media screen and (max-width: 1700px){
    .all {
        height: 145vh;
    }
}

@media screen and (max-width: 1510px){
    .all {
        background-size: auto;
        height: 62rem;
    }
    .container .cards{
        margin-left: 20px;
        margin-top: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1260px){
    .all {
        height: 79rem;
    }
    .container .cards{
        margin-left: 15px;
        margin-top: 5px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1000px){
    .all {
        height: 96.5rem;
    }
    .container .cards{
        margin-left: 10px;
        margin-top: 5px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 680px){
    .all{
        height: 1650px;
    }
    .horizontal{
        flex-direction: column;
    }
    .container .cards{
        margin-top: 15px;
    }
}