html {
  min-height: 100%;
  position: relative;
}

.paginated{
  margin-bottom: 2vh;
}

.all{
  background-color: #BEBEBE;
}

/* .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
} */

.container {
  margin-bottom: 5vh;
  padding: 0;
  margin: 0;
}

.info {
  background: #e0bcce;
  color: black;
  border-radius: 0.5vh;
  font-weight: 700;
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin-right: 1vw;
  margin-left: 1vw;
}

.col {
  display: flex;
  justify-content: center;
}

.data {
  margin-right: 1vw;
  margin-left: 1vw;
}

.info p {
  position: relative;
  top: 0.8vh;
}

.input {
  border: #e0bcce solid 2px;
  border-radius: 0.5vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
  margin-left: 1vw;
}

.button {
  border: #e0bcce solid 2px;
  border-radius: 0.5vh;
  margin-bottom: 2vh;
  margin-top: 1vh;
  margin-right: 1vw;
}

.notFound {
  margin-left: 2.5vh;
}

.divBtnRestart{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 90%;
}

.btnRestart{
  text-decoration: none;
  margin-top: 0px;
  font-weight: 400;
  background-color: #c36494;
  color: whitesmoke;
  border-radius: 0.5vh;
  border: 1px solid #c36494;
  /* width: 100%; */
}

.btnRestart:hover{
  background-color: whitesmoke;
  color:#6C1D45;
  /* font-weight: 500; */
  cursor: pointer;
}