.all {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-bottom: 25px;
    /* font-family: 'Poppins', sans-serif; */
}

.games {
    /* margin-top: 50px; */
    /* border: 1px solid black; */
    width: 100%;
    max-width: 700px;
    min-width: 340px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgb(239, 177, 177); */
}

.tabla{
    width: 100%;
}

.barra {
    margin-top: 30px;
    width: 90%;
    max-width: 700px;
    min-width: 340px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 4.5fr 3fr 9fr 2fr 7fr 3fr 3fr 7fr 2fr;
    width: 100%;
    font-size: 11.5px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(178, 91, 91);
    border: 1px solid black;
    border-bottom: none;
    border-radius: 0.5vw;
}

.barra2 {
    margin-top: 30px;
    width: 90%;
    max-width: 700px;
    min-width: 340px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 4.5fr 3fr 9fr 2fr 7fr 3fr 3fr 7fr 2fr;
    width: 100%;
    font-size: 11.5px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(178, 91, 91);
    border: 1px solid black;
    border-bottom: none;
    border-radius: 0.5vw;
}

.date {
    display: flex;
    justify-content: center;
    /* border: 1px solid red */
}

.hour {
    display: flex;
    justify-content: center;
}

.stadium {
    display: flex;
    justify-content: flex-start;
}


.flag {
    border-radius: 10%;
    width: 30px;
    height: 22px;
    align-self: center;
}

.team1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.7vw;
}

.team2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.7vw;
}

.input {
    width: 45px;
}

.goals {
    display: flex;
}

.hidden {
    visibility: hidden;
}

.buttons {
    margin-top: 20px;
    /* border: 1px solid black; */
    width: 90%;
    max-width: 700px;
    min-width: 320px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}


.prev {
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    border-radius: 0.5vw;
    border: 1px solid rgb(205, 145, 145);
    background-color: transparent;
    color: rgb(205, 145, 145);
}

.next {
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    border-radius: 0.5vw;
    border: 1px solid rgb(205, 145, 145);
    background-color: transparent;
    color: rgb(205, 145, 145);
}

.none{
    display: none;
}


@media screen and (max-width: 800px) {
    .barra {
        display: grid;
        grid-template-columns: 2.5fr 3fr 2fr 7fr 3fr 3fr 7fr 2fr;
        margin-top: 5vh
    }

    .barra2 {
        display: grid;
        grid-template-columns: 2.5fr 3fr 2fr 7fr 3fr 3fr 7fr 2fr;
        margin-top: 0vh
    }

    .tabla {
        margin-bottom: 2vh;
        margin-top: 3vh
    }
}


@media screen and (max-width: 600px) {
    .tabla {
        margin-bottom: 2vh;
        margin-top: 3vh
    }
    .barra {
        margin-top: 5vh
    }

    .barra2 {
        margin-top: 0vh
    }

    .buttons{
        margin-top: 30px;
        margin-bottom: 9vh;
    }
}


@media screen and (max-width: 440px) {
    .tabla {
        margin-top: 3.5vh
    }
    .buttons {
        width: 92%;
    }
}

@media screen and (max-width: 400px) {
    .buttons {
        width: 98%;
    }
    .next {
       padding-left: 8px;
       padding-right: 8px;
    }
    .prev {
        padding-left: 8px;
        padding-right: 8px;
    }
}