.all {
    background-color: #6C1D45;
    /* background-image: url('../../images/6535007_.jpg'); */
    /* background-color: #f9f9c5; */
    min-height: max-content;
    /* background-size: cover; */
    /* opacity: 0.8; */
    font-family: 'Montserrat', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.filterbar {
    position: absolute;
    margin-left: 2%;
    margin-top: 25px;
}

.title {
    margin-top: 40px;
    margin-bottom: 20px;
    height: 40px;
    text-align: center;
}

h1 {
    color: rgb(178, 91, 91);
    height: 100%;
}


@media screen and (max-width: 600px) {
    .all {
        width: 100%;
    }
    .page {
        width: 90%;
        font-size: small;
    }
}

@media screen and (max-width: 600px) {
    .page {
        width: 96%;
    }
}

@media screen and (max-width: 450px) {
    .filterbar {
        margin-left: 0%;

    }
}

@media screen and (max-width: 400px) {
    .filterbar {
        margin-left: -2%;

    }
}