.all {
    display: grid;
    grid-template-columns: 4.5fr 3fr 9fr 2fr 7fr 3.5fr 3.5fr 7fr 2fr;
    width: 100%;
    font-size: 13.2px;
    border-radius: 0.5vw;
    margin-top: 3px;
    padding: 5px;
    background-color: rgb(239, 177, 177);
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.team {
    flex-direction: column;
}

.date {
    display: flex;
    justify-content: center;
    /* border: 1px solid red */
}

.hour {
    display: flex;
    justify-content: center;
}

.stadium {
    display: flex;
    justify-content: flex-start;
}


.flag {
    border-radius: 10%;
    border-radius: 0.3vw;
    width: 30px;
    height: 22px;
    align-self: center;
}

.team1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.7vw;
}

.team2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.7vw;
}

.input1 {
    width: 40px;
    border-radius: 0.5vw;
    border: 1px solid rgb(178, 91, 91);
    margin-right: 2px;
    margin-left: auto;

}

.input2 {
    width: 40px;
    border-radius: 0.5vw;
    border: 1px solid rgb(178, 91, 91);
    margin-left: 2px;
    margin-right: auto;
}

.goals {
    display: flex;
    border: none;
    justify-items: flex-start;
}

.button {
    /* background-color: #2e7d32;
    border: 1px solid rgb(23, 102, 23); */
    width: 28px;
    height: 28px;
    margin: auto
}

.button:hover {
    cursor: pointer
}

.none {
    visibility: hidden;
}

.none2 {
    display: none;
}

.all2{
    background-color: rgb(220, 87, 87);
    display: grid;
    grid-template-columns: 16.5fr 9fr 4fr 3fr 3.5fr 7.5fr 2fr;
    align-items: center;
    border-radius: 0.5vw;
    font-size: 0.9rem;
    font-weight: 500;
}

.all3{
    background-color: rgb(88, 149, 69);
    display: grid;
    grid-template-columns: 16.5fr 9fr 4fr 3fr 3.5fr 7.5fr 2fr;
    align-items: center;
    border-radius: 0.5vw;
    font-size: 0.9rem;
    font-weight: 500;
}

/* .points{
    font-weight: 500;
} */

@media screen and (max-width: 800px) {
    .all {
        display: grid;
        grid-template-columns: 2.5fr 3fr 2fr 8fr 2.5fr 2.5fr 8fr 2fr;
        font-size: 12px;
    }
    .input1 {
        width: 32px;
    }
    .input2 {
        width: 32px;
        border-radius: 0.5vw;
        border: 1px solid rgb(178, 91, 91);
        margin-left: 2px;
        margin-right: auto;
    }

    .flag {
        width: 26px;
        height: 19px;
    }

    .all2{
        grid-template-columns: 11fr 2fr 3.3fr 3.1fr 3fr 7fr 2fr;
    }
    
    .all3{
        grid-template-columns: 11fr 1fr 3.3fr 3.1fr 3fr 7fr 2fr;
    }
    
}

@media screen and (max-width: 400px) {
    .all {
        display: grid;
        grid-template-columns: 2.5fr 3fr 2fr 8fr 2.5fr 2.5fr 8fr 2fr;
        font-size: 10px;
    }
}