.footer {
    background-color: transparent;
    opacity: 0.7;
    min-height: 8vh;
    max-height: 8vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: contrast(50%); 
}

.menu2 {
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 30%;
    margin: auto;
    margin-top: 6px;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
}

.link {
    color: white;
}

.link:hover {
    cursor: pointer;
    color: #9bb6d1;
}

.icon1:hover {
    cursor: pointer;
    color: #bebebe;
}

.icon2:hover {
    cursor: pointer;
    color: #bebebe;
}

.me {
    width: 30%;
    margin: auto;
    border-top: 1px solid #bebebe;
    font-size: 11px;
    padding-top: 4px;
    color: #BEBEBE;;
    text-align: center;
    padding-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .menu2 {
        width: 60%;
    }
    .me {
        width: 60%;
        color: black;
        font-size: 10px;
    }
}