
.all{
    background-image: url('../../images/messi10.jpg');
    /* min-height: fit-content;
    height: max-content; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 82vh;
    margin-bottom: -8vh;
}

.prode{
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(198, 198, 198);
    color: #601a3d;
    font-size: 3.2rem;
    height: fit-content;
    width: fit-content;
    border-radius: 0.5vw;
    padding-left: 10px;
    padding-right: 10px;
    backdrop-filter: contrast(40%); 
    background-color: transparent;
}

.top{
    min-height: 17vh;
}

.top10{
    align-items: center;
    padding-top: 45px;
    margin-bottom: auto;
    min-width: 280px;
    width: fit-content;
    color:#6C1D45;
    text-align: center;
}

.title{
    font-size: x-large;
    font-weight: 600;
    background-color: #6C1D45;
    color: whitesmoke;
    margin: 0;
}

.rules{
    /* border: 1px solid white; */
    margin-bottom: 30px;
}

.card{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.left{
    justify-content: space-evenly;
}

.card1{
    margin: inherit;
    margin-top: 25px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* min-height: 63vh; */
}
 
.card2{
    padding-bottom: 2rem;
}  

.btn{
    text-decoration: none;
    margin-top: 0px;
    font-weight: 450;
    background-color: #6C1D45;
    color: whitesmoke;
    border-radius: 0.5vh;
    border: 1px solid #6C1D45;
    width: 100%;
}

.down{
    min-height: 65vh;
}

.btn:visited{
    text-decoration: none;
}

.btn:hover{
    background-color: #c36494;
    color:#6C1D45;
    font-weight: 500;
    cursor: pointer
}

.btn:link{
    text-decoration: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 649px) {
    .prode{
        margin-top: 40px;
        font-size: 2.4rem;
    }
    .card {
      flex-direction: column;
      min-height: fit-content;
    }
    .top10{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 25px;
        min-height: 25vh;
    }
    .card1 {
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        gap: 20px;
    }
  }