/* html{
    min-height: 90vh;
} */

.all{
    background-image: url('../../images/messi31.jpg');
    min-height: fit-content;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}

.prode{
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(198, 198, 198);
    color: #601a3d;
    font-size: 3.2rem;
    /* color:#a0346a; */
    height: fit-content;
    width: fit-content;
    border-radius: 0.5vw;
    padding-left: 10px;
    padding-right: 10px;
    backdrop-filter: contrast(60%); 
    background-color: transparent;
    /* color: rgb(198, 198, 198); */
}

.top10{
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 280px;
    width: fit-content;
    color:#6C1D45;
    text-align: center;
}

.title{
    font-size: x-large;
    font-weight: 600;
    background-color: #6C1D45;
    color: whitesmoke;
    margin: 0;
}


.card{
    /* margin-top: 13%;
    margin-right: 2%;
    gap: 20px; */
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80vh;
    margin: auto;
    /* border: 5px solid blueviolet; */
}

.left{
    justify-content: space-evenly;
}

.card1{
    margin: inherit;
    /* margin-right: 10vw; */
    /* margin-top: 5vh; */
    margin-right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    /* margin-bottom: 20px; */

}

.card2{
    margin-bottom: 20px;
}



@media screen and (max-width: 649px) {
    /* .all{
        height: fit-content;
        height: max-content;
    } */
    .prode{
        font-size: 2.6rem;
    }
    .card {
      flex-direction: column;
    }
    .top10{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        min-height: 25vh;
    }
    .card1 {
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
        gap: 30px;
    }
  }