.info {
    margin: 0px;
    padding: 0px;
}

.all{
    border: none;
    backdrop-filter: contrast(60%); 
}
  
.container {
    padding-top: 20px;
    margin-bottom: 0;
    color: white;
    border-bottom: 1px solid whitesmoke;
    line-height:0%
}
  
.nro {
    margin-left: 0;
    padding: 0px;
    /* text-align: center; */
}
  
.nick {
    margin-left: 0;
    padding: 0px;
    text-align: start;
}
  
/* .medal {
    width: 25px;
    height: 25px;
} */
  
/*.top1 {
    background-color: gold;
    border-radius: 0.5vh;
}
  
.top2 {
    background-color: silver;
    border-radius: 0.5vh;
}
  
.top3 {
    background-color: #CD7F32;
    border-radius: 0.5vh;
}
*/
