.back {
    height: 82vh;
    opacity: 0.95;
    /* background-color: #6C1D45; */
    background-image: url('../../images/fondoqatar.jpg');
    background-size: cover;
}

#notFoundCountry{
    /* max-width: 100vw; */
    text-align: center;
    /* opacity: 0.9; */
    margin: auto;
}

.notFound{
    max-width: 100vw;
    width: 100vh;
}

.notFound2{
    width: 350px;

}

.back img{
    margin-top: 50px;
}

#btn{
    position: fixed;
    bottom: 10vh;
    right: 5vw;
}

/* #btn button {
    width: 155px;
    height: 30px;
    background-color: transparent;
    border: #c0c0c0 solid 1.8px;
    border-radius: 0.5vh;
    color: #c0c0c0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    animation: fadein 3s;
    justify-self: center;
} */

#btn button{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 0px;
    font-weight: 350;
    background-color: transparent;
    color: #BEBEBE;
    border-radius: 0.5vh;
    border: 1px solid #BEBEBE;
    width: 160px;
    margin: auto;
}

#btn button:hover {
    background-color: #da7cab;
    color:#6C1D45;
    /* color: #BEBEBE; */
    border: 1px solid #6C1D45;
    font-weight: 400;
    cursor: pointer
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

/* @keyframes fadein {
    0% {
        opacity:0;
    }
    50%{
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
} */

@media screen and (max-width: 1000px){
    #btn button {
        background-color: grey;
        border: #c0c0c0 solid 1.8px;
        color: #c0c0c0;
    }
    
    #btn button:hover {
        color: black;
        background-color: transparent;
    }
}