.container {
    background-color: rgb(238, 238, 238);
    /* padding: 0.5%; */
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    /* min-height: 10vh;
    height: 10vh;
    max-height: 10vh; */
    align-items: center;
    color: grey;
    margin-bottom: 0;
}
  
.logo {
  height: 64px; 
  width: 50px;
  /* border: 1px solid black;; */
  background-color: transparent;
  width: 45%;
  margin-left: 25%;
  min-height: 10vh;
  height: 10vh;
  max-height: 10vh;
}

.dropdown{
  background-color: #6C1D45;
  color: rgb(186, 186, 186);
  border: #6C1D45; 
}

.dropdown:hover,
.dropdown:focus,
.dropdown:enabled {
  background-color: #6C1D45;
  color: rgb(186, 186, 186);
  border: #6C1D45; 
}


.col1 {
  margin-top: 0;
  padding-top: 0;
}

.col4 {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 8%;
}


.linksInt {
  font-weight: 500;
  width: 30%;
  font-size: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
}

.linksIntActive {
  font-weight: bold;
  width: 30%;
  font-size: 100%;
  text-decoration: none;
  color: #6C1D45;
  text-align: center;
}

.linksInt:hover,
.linksIntActive:hover {
  color: #6C1D45;
}

.name {
  font-size: 1.2vw;
}

.userImage {
  border-radius: 100%;
  height: 7vh;
  border-style: solid;
  border-color: #6C1D45;
  border-width: 0.9vh;
  padding: 0;
  align-self: center;
}

.linkDesp {
  text-decoration: none;
}

.imgNameLogOut {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  height: 10vh;
  max-height: 10vh;
}

.colPreg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colRank {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padreDivs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 7%;
}

.logOut {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .container{
    height: fit-content;
  }

  .col1 {
      display: flex;
      justify-content: center;
  }

  .linksInt,
  .linksIntActive {
      font-size: 2vw;
  }

  .logo {
      display: none
  }

  .imgNameLogOut {
    margin-bottom: 0.5vh;
    min-height: fit-content;
    height: fit-content;
    max-height: fit-content;
  }

  .row1{
    justify-content: space-evenly;
    width: 100vw;
  }

}

@media screen and (max-width: 720px) {
  .linksInt,
  .linksIntActive {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  .linksInt,
  .linksIntActive {
    font-size: 3vw;
  }
}

@media screen and (max-width: 450px) {
  .linksInt,
  .linksIntActive {
    font-size: 4vw;
  }
}